/* #region Variables */

:root {
	--margin: .5em;
	--padding: .5em;
	--blue: rgba(63, 193, 248, .95);
	--green: rgba(76, 158, 8, .95);
	--red: rgba(158, 8, 76, .95);
	--orange: rgba(248, 168, 63, .95);
	--black: rgba(0, 0, 0, .95);
	--black-rgb: (0, 0, 0);
	--white: rgba(255, 255, 255, .95);
	--theme-light: rgb(232, 214, 203);
	--theme-dark: rgb(93, 46, 70);
	--theme-dark-gradient: rgba(var(--theme-dark), 0.75), var(--theme-dark), rgba(var(--theme-dark), 0.75);
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--box-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.75), 0 .75em 10em 0 rgba(0, 0, 0, 0.25);
}

/* #endregion Variables */

/* #region Base */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	min-width: 100vw;
}

html {
	font-size: 18px;
	font-family: sans-serif;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	background: #ffffff url("./../images/castle.svg") no-repeat;
	background-size: cover;
}

@media screen and (min-width: 320px) {
	html {
		font-size: calc(18px + 6 * ((100vw - 320px) / 680));
	}
}

@media screen and (min-width: 1000px) {
	html {
		font-size: 22px;
	}
}

body {
	line-height: 1.5em;
	position: fixed;
	font-family: var(--font-family-sans-serif);
}

button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	overflow: visible;
	text-transform: none;
	-moz-appearance: inherit;
	appearance: inherit;
	-webkit-appearance: button;
	border-radius: 0;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

/* #endregion */

/*========== Components ==========*/

/* #region Header/Footer */
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1 auto;
	        flex: 1 auto;
	background-color: var(--green);
	color: var(--white);
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 1em;
}

.copyright {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	margin-left: var(--margin);
	font-size: .5em;
}

.open-instructions {
  opacity: .5;
	-webkit-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.open-instructions:hover {
  opacity: 1;
	-webkit-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

/* #endregion Header/Footer */

/* #region Button*/

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	margin: var(--margin);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	overflow: hidden;
}

.btn:hover,
.btn:focus {
	text-decoration: none;
}

.btn:focus,
.btn.focus {
	outline: none;
	-webkit-box-shadow: 0 0 0 0.2rem;
	        box-shadow: 0 0 0 0.2rem;
}

.btn.disabled,
.btn:disabled {
	opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
	background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

.btn--dark {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 46, 70, 0.75)), color-stop(var(--theme-dark)), to(rgba(93, 46, 70, 0.75)));
	background: -webkit-linear-gradient(rgba(93, 46, 70, 0.75), var(--theme-dark), rgba(93, 46, 70, 0.75));
	background: -o-linear-gradient(rgba(93, 46, 70, 0.75), var(--theme-dark), rgba(93, 46, 70, 0.75));
	background: linear-gradient(rgba(93, 46, 70, 0.75), var(--theme-dark), rgba(93, 46, 70, 0.75));
	color: var(--theme-light);
}

/* #endregion Button*/

/* #region Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
	position: relative;
	background-color: var(--blue);
	color: var(--white);
	margin: auto;
	padding: var(--padding);
	width: 75%;
	-webkit-box-shadow: var(--box-shadow);
	        box-shadow: var(--box-shadow);
	-webkit-animation-name: modalOpen;
	        animation-name: modalOpen;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}

@-webkit-keyframes modalOpen {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes modalOpen {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.modal-content p {
	padding: var(--padding);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.modal-footer {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.close-modal {
	position: relative;
	float: right;
	font-size: 1.5em;
	color: rgba(255, 255, 255, .5);
	-webkit-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.open-modal:hover,
.open-modal:focus,
.close-modal:hover,
.close-modal:focus {
	cursor: pointer;
	color: var(--white);
	-webkit-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.open-modal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 600;
}

.open-modal a {
	text-decoration: none;
	color: var(--red);
	margin-right: var(--margin);
}

.emoji,
.winLossMessage,
.message {
	text-align: center;
	-webkit-transform: perspective(1px) translateY(-50%);
	        transform: perspective(1px) translateY(-50%);
}

.emoji {
	padding: var(--padding);
	font-size: 5em;
	margin-bottom: 0;
}

.message {
	margin-top: 0em;
}

/* #endregion Modal */

/* #region Scoreboard */

.scoreboard {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.score-label {
	margin-right: .25em;
	font-weight: 600;
	font-size: .9em;
}

.score {
	margin-right: 1em;
	font-weight: 800;
}

#wins {
	color: var(--green);
}

#losses {
	color: var(--red);
}

/* #endregion Scoreboard */

/* #region Game */

.game {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	margin: calc(var(--margin)/2);
	/* border: 1px solid white; */
}

.game-box {
	/* border: 1px solid black; */
	width: 50%;
	max-width: 400px;
	text-align: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.targetNumber,
.currentTotal {
	font-size: 5em;
	font-weight: bolder;
	color: white;
	margin: calc(var(--margin)*1);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media screen and (max-width: 450px) {
	.targetNumber,
	.currentTotal {
		font-size: 4em;
	}
}

.game-box__label {
	margin: calc(var(--margin)*2);
	font-size: 1em;
	color: var(--black);
	font-weight: bold;
}

/* #endregion Game */

/* #region Crystals */

.crystals {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	top: 10%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.btn--crystal {
	margin: var(--margin);
	height: 200px;
	width: 200px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	background-size: 100%;
}

.btn--crystal:active,
.btn--crystal:focus {
	-webkit-box-shadow: 0 0 0 0;
	        box-shadow: 0 0 0 0;
}

@media screen and (max-width: 414px) {
	.btn--crystal {
		max-width: 150px;
		max-height: 150px;
	}
}

#btn-1 {
	background: url('../../assets/images/red.png') no-repeat center;
	background-size: contain;
}

#btn-2 {
	background: url('../../assets/images/green.png') no-repeat center;
	background-size: contain;
}

#btn-3 {
	background: url('../../assets/images/blue.png') no-repeat center;
	background-size: contain;
}

#btn-4 {
	background: url('../../assets/images/purple.png') no-repeat center;
	background-size: contain;
}

.gemClickEffect {
	-webkit-animation-name: gemClickEffect;
	        animation-name: gemClickEffect;
	-webkit-animation-duration: 200ms;
	        animation-duration: 200ms;
}

@-webkit-keyframes gemClickEffect {
	0%,
	100% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(.75);
	}
}

@keyframes gemClickEffect {
	0%,
	100% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(.75);
	}
}

/* #endregion Crystals */

/* #region Logo */
.logo {
	position: absolute;
	top: 35vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	z-index: 2;
	width: 100%;
	line-height: 2.5em;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bolder;
	font-size: calc(2.5em + 0.5vw);
	color: var(--red);
	-webkit-animation-name: logo;
	        animation-name: logo;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}

@media screen and (min-width: 600px) {
	.logo {font-size: calc(3.5em + 0.5vw)}
}

@-webkit-keyframes logo {
	0% {
		/* -ms-transform: translate(50px, 100px); IE 9 */
    /* -webkit-transform: translate(50px, 100px); Safari */
		-webkit-transform: translate(0, -1000px);
		        transform: translate(0, -1000px);
		-webkit-transform: ScaleX(0);
		        transform: ScaleX(0);
		opacity: 0;
	}
	25% {
		-webkit-transform: translate(0, 0);
		        transform: translate(0, 0);
		-webkit-transform: ScaleX(1);
		        transform: ScaleX(1);
		opacity: 1;
	}
	50% {
		-webkit-transform: translate(0, 0);
		        transform: translate(0, 0);
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, -1000px);
		        transform: translate(0, -1000px);
	}
}

@keyframes logo {
	0% {
		/* -ms-transform: translate(50px, 100px); IE 9 */
    /* -webkit-transform: translate(50px, 100px); Safari */
		-webkit-transform: translate(0, -1000px);
		        transform: translate(0, -1000px);
		-webkit-transform: ScaleX(0);
		        transform: ScaleX(0);
		opacity: 0;
	}
	25% {
		-webkit-transform: translate(0, 0);
		        transform: translate(0, 0);
		-webkit-transform: ScaleX(1);
		        transform: ScaleX(1);
		opacity: 1;
	}
	50% {
		-webkit-transform: translate(0, 0);
		        transform: translate(0, 0);
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0, -1000px);
		        transform: translate(0, -1000px);
	}
}

.crystal,
.collector {
	width: 100%;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .15em;
	text-shadow: .025em .025em 1px var(--red), -.025em -.025em 1px var(--red), .075em .075em 1px rgba(0, 0, 0, .5);
}
/* #endregion Logo */